<ion-view view-title="O aplikaci">
  <ion-content class="about">
    
    <h2>Aplikace pro alternativní a augmentativní komunikaci (AAK) typu ANO/NE</h2>
    
    <p>Aplikace vznikla v rámci neformálního projektu <b>počítačové terapie</b> na <b>FIT VUT v Brně</b> za podpory společnosti <b>Red Hat</b>.</p>
    
    <p>Demonstrační seznamy karet využívají obrázky převzaté z projektů <b>ARASAAC</b> a <b>Klábosil</b> a vztahuje se na ně licence <b>CC BY-NC-SA 3.0</b>.</p>
    
  </ion-content>
</ion-view>
