<ion-view view-title="{{type=='shared'?'Katalog seznamů párů':'Seznamy párů: '+$root.urlParams.userName}}" hide-back-button="!$root.urlParams.manage">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-search" ng-click="search()">Hledat</button>
    <a class="button button-icon ion-plus" href="#/app/listedit/new{{type}}" ng-if="$root.urlParams.manage">Přidat</a>
  </ion-nav-buttons>
  <ion-content>
    
    <ion-list click-for-options-wrapper ng-if="$root.urlParams.manage">
      <ion-item click-for-options ng-repeat="list in listsFiltered" class="item-thumbnail-left">
        <div class="list-thumbnail item-image">
          <img ng-repeat="thumbnail in list.thumbnails track by $index" ng-src="{{thumbnail}}">
        </div>
        <h2>{{list.name}}</h2>
        <ion-option-button class="button-energized item-right-editable" ui-sref="playing({ listId: list.id })">Náhled</ion-option-button>
        <ion-option-button class="button-balanced item-right-editable" ui-sref="app.listitems({ listId: list.id })">Upravit</ion-option-button>
        <ion-option-button class="button-calm" ng-click="copyList(list)">Kopírovat</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeList(list)">Odstranit</ion-option-button>
      </ion-item>
    </ion-list>
    
    <ion-list ng-if="!$root.urlParams.manage">
      <ion-item ng-repeat="list in listsFiltered" class="item-thumbnail-left" ui-sref="playing({ listId: list.id })">
        <div class="list-thumbnail item-image">
          <img ng-repeat="thumbnail in list.thumbnails track by $index" ng-src="{{thumbnail}}">
        </div>
        <h2>{{list.name}}</h2>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
